{% extends "base.html" %}

{% block contenu %}
	<div class="menu">
		<span class="bouton"><a href="/"><img src="/static/bouton_accueil.png"></a></span>
		<span class="bouton"><a href="/recherche"><img src="/static/bouton_loupe.png"></a></span>
	</div>
	<div class="element">
		<h1>Accueil Mon Site</h1>
		<p>Ce que peut faire ce site</p>
		<ul>
			<li>Aller à l'accueil</li>
			<li>Regarder le contenu de la base de donnée</li>
			<li>Faire des recherches précise d'animé et de personnage</li>
			<li>Ajoutez vous même des données (Pas encore disponible)</li>
		</ul>
	</div>
{% endblock %}

